$active-colour: #005EA5;
$hover-colour: #267ACE;
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: sans-serif;
  color: #333;
  background: #ddd;
}
article{
  margin: 40px auto;
  background:white;
  padding: 24px;
  border-radius: 2px;
  position:relative;
  background:#efefef;
  max-width:1200px;
}
h1{
  font-weight:lighter;
  font-size:32px;
  margin-bottom: 16px;
}
p.intro{
  font-style: italic;
  margin-bottom: 18px;
}
.finder,
.chosen-container{
  position:absolute;
  top:14px;
  right:24px;
  font-size:16px;
  padding: 11px;
  max-width:400px;
}
#display{
  height: 640px;
  border: 1px solid #ccc;
  border-radius: 2px;
  display:table-row;
  width: 100%;
  z-index:0;
  h1{
    font-size: 16px;
    text-align: center;
    min-height: 36px;
  }
}
#diagram{
  position:relative;
  z-index:0;
  .column{
    position: relative;
    margin:20px;
    margin-bottom:5px;
    padding:20px;
    padding-bottom: 5px;
    display:table-cell;
    z-index: 10;
  }
  .cell{
    display: block;
    min-width: 70px;
    min-height: 1.8em;
    vertical-align:middle;
    font-size: 14px;
    text-align:center;
    margin:10px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: rgba(2,130,255,0.2);
    transition: background 0.25s, box-shadow 0.25s;
    cursor: pointer;
    &:hover{
      background-color:$hover-colour;
    }
    &.active{
      background-color:$active-colour;
      color: #ddd;
      border-color: rgba(200,200,200,0.5);
      box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
      &:hover{
        background-color:$hover-colour;
      }
      &.selected{
        background-color: rgba(2,130,255,0.6);
        color:#333;
      }
    }
    &.selected{
      border: 2px solid black;
      padding-left: 3px;
    }
    .example{
      background-color: rgba(255,255,255,0.4);
      display: block;
      font-size: 12px;
      text-align:center;
      border: 1px solid #aaa;
      margin:2px;
      padding:inherit;
      border-radius: inherit;
    }
    &#marketplace{
      width: 100%;
    }
  }
}
#links{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:0;
}
.link{
  stroke-width: 2;
  stroke: #bdddff;
  transition: stroke 0.25s, stoke-width 0.25s;
  &.active{
    transition: stroke 0.25s;
    stroke:$active-colour;
    stroke-width: 3;
  }
}
.column{
  &#legal_advisors,
  &#business_advisors,
  &#impact_advisors,
  &#auditors{
    background-color:rgba(127,195,255,0.2);
  }
  &#depository_institution,
  &#investment_funds{
    display:block
  }
  &#business_advisors:before{
    position:absolute;
    content: "Intermediaries";
    display: block;
    top: 12px;
    width: 150px;
    left: 50%;
    text-align:center;
    font-weight:bold;
  }
  &#capital_providers .example{
    display:none;
  }
  &#investment_funds .example:before{
    content: "Managed by "
  }
  &#investment_target .example:before{
    content: "e.g. "
  }
}

@media(max-width: 978px){
  article{
    margin: 0 auto;
    padding: 16px;
  }
  .finder,
  .chosen-container{
    position: static;
    max-width:400px;
    margin: 10px auto;
  }
  #diagram{
    zoom: 0.8;
  }
}
@media(max-width: 840px){
  #diagram .column{
    margin: 5px;
    padding: 5px;
    padding-top: 20px;
  }
  .column#business_advisors:before{
    top: 5px;
    margin-left: -20px;
  }
}
